//COLORS

$color-white: #fff;
$color-black: #000;

$color-background: rgb(219, 219, 219);

$color-answer-selected: rgb(191, 235, 247);

//FONT
$default-font-size: 1.4rem;
$default-font-list-element-size: 1.2rem;
