//COLORS

$color-white: #fff;
$color-grey-light: rgb(199, 199, 199);
$color-black: #000;

$color-background: rgb(219, 219, 219);

$color-answer-selected: #bfebf7;
$color-button-selected: #cedee2;

$color-countdown: rgb(199, 64, 64);

// REACT COLORS
$result-good-score: #beffae;
$result-bad-score: #f58b8b;

//FONT
$default-font-size: 1.4rem;
$default-font-list-element-size: 1.2rem;
