.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2rem;

  @include respond(phone) {
    height: 50%;
    justify-content: space-between;
  }

  & > * {
    flex-basis: 100%;
    margin-bottom: 1rem;
  }
}
