.options {
  width: 60%;
  height: 60vh;
  margin: auto;
  padding: 1.5rem;
  border-radius: 5px;
  background-color: $color-white;
  box-shadow: 1rem 1rem 1rem rgba($color-black, 0.6);
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  @include respond(phone) {
    width: 70%;
    height: 70%;
    font-size: 2.1rem;
  }

  &__input--number,
  &__input--select {
    font-size: 1.2rem;
    border: 1px solid $color-grey-light;
    border-radius: 4px;
    margin-left: 1rem;
    text-align: center;
    cursor: pointer;
    margin: 0 14rem;
    padding: 0.5rem 0;

    @include respond(phone) {
      font-size: 2.1rem;
      margin-bottom: 2rem;
    }
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}
